<section class="education-and-hobbies">
            <div
              class="horizontal-line2"
              style="width: 34.5rem; margin-left: 1.2rem"
            ></div>
            <div class="d-flex justify-content-end">
              <div style="margin-right: 4.1rem">
                <section class="education">
                  <div class="d-flex justify-content-end">
                    <div>
                      <h2 class="title roll" (click)="toggleRoll()">Education</h2>
                      <div class="horizontal-line" style="width: 16rem"></div>
                    </div>
                    <div
                      class="icon-container"
                      style="margin-right: 0; margin-left: 1.7rem"
                    >
                      <i class="bi bi-book-half" style="color: #444444"></i>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end roll-block" [class.active]="isExpanded">
                    <div class="degree">
                      <h3 class="specialty">Master of Creative Arts</h3>
                      <div class="name-and-year d-flex justify-content-between">
                        <p class="year" class="year">2018 - Present</p>
                        <p class="name">University Name</p>
                      </div>
                      <p class="name-info">
                        Lorem ipsum dolor sit amet, consectetur <br />
                        .incididunt ut labore
                      </p>

                      <h3 class="specialty">Master Graphic & Web Designer</h3>
                      <div class="name-and-year d-flex justify-content-between">
                        <p class="year">2015 - 2017</p>
                        <p class="name">University Name</p>
                      </div>
                      <p class="name-info">
                        Lorem ipsum dolor sit amet, consectetur <br />
                        .incididunt ut labore
                      </p>

                      <h3 class="specialty">Master of Design</h3>
                      <div class="name-and-year d-flex justify-content-between">
                        <p class="year">2010 - 2012</p>
                        <p class="name">University Name</p>
                      </div>
                      <p class="name-info">
                        Lorem ipsum dolor sit amet, consectetur <br />
                        .incididunt ut labore
                      </p>
                    </div>
                    <div class="round-rectangle" style="height: 30rem">
                      <div class="white-squares d-flex flex-column">
                        <span class="wsquare"></span>
                        <span class="wsquare" style="margin-top: 9.3rem"></span>
                        <span
                          class="wsquare"
                          style="margin-top: 10.8rem"
                        ></span>
                      </div>
                    </div>
                  </div>
                </section>
           <section class="hobbies">
        <h2 class="title">Hobbies</h2>

        <!-- Перші два хобі поруч -->
        <div class="d-flex justify-content-end hobby" id="hobbies">
          <div class="d-flex" *ngFor="let hobby of hobbies.slice(0, 2)">
            <p>{{ hobby.name }}</p>
            <span class="marker2"></span>
          </div>
        </div>

        <!-- Решта по одному в рядок -->
        <ng-container *ngFor="let hobby of hobbies.slice(2)">
          <div class="d-flex justify-content-end hobby" id="hobby">
            <p>{{ hobby.name }}</p>
            <span class="marker2"></span>
          </div>
        </ng-container>
        
      </section>
              </div>
              <div class="red-rectangle2"></div>
            </div>
          </section>