<section class="skills">
            <div class="horizontal-line2" style="width: 29.6rem"></div>

            <div class="d-flex">
              <div class="red-rectangle3" style="height: 19rem;"></div>

              <div class="trapezoid" style="height: 19rem;">
              </div>
              <div style="margin-left: 5.5rem">
                <div class="d-flex">
                  <div class="icon-container">
                    <i class="bi bi-award-fill" style="color: #444444"></i>
                  </div>
                  <h2 class="title">Skills</h2>
                </div>

                <div class="skills-list" id="skills">
              
                </div>
              </div>
            </div>
          </section>