      <div class="header">
        <div class="red-rectangle" style="height: 21.6rem"></div>

        <div class="grey-rectangle"></div>
        <div class="lgrey-rectangle"></div>
        <div class="header-left">
          <div class="photo">
            <img src="assets/images/photo.jpg" alt="John Parker" />
          </div>
          <div class="info">
            <p class="John">JOHN</p>
            <p class="Parker">PARKER</p>
            <p>Graphic & Web Designer</p>
          </div>
        </div>

        <div class="header-right">
          <section class="about">
            <div class="about-info">
              <div class="about-header d-flex justify-content-center">
                <div class="icon-container">
                  <i class="bi bi-person-lines-fill" style="color: #d50821"></i>
                </div>
                <h2 class="title">About Me</h2>
              </div>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida.Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                gravida
              </p>
            </div>
          </section>
          <section class="contact">
            <div class="contact-header d-flex justify-content-center">
              <div class="icon-container">
                <i class="bi bi-telephone-fill" style="color: #d50821"></i>
              </div>
              <h2 class="title">Contact Me</h2>
            </div>

            <div class="contact-list d-flex justify-content-center">
              <div class="contact-left d-flex">
                <div class="d-flex">
                  <div class="grey-squares d-flex flex-column">
                    <span class="gsquare" style="color: #444444"></span>
                    <span
                      class="gsquare"
                      style="margin-top: 3rem; color: #444444"
                    ></span>
                  </div>
                  <div class="vertical-line"></div>
                </div>
                <div>
                  <a href="tel:+1-856-822-2156">+1-856-822-2156</a>
                  <p>
                    1173 Valley Street <br />

                    Camden, NJ 08102
                  </p>
                </div>
              </div>

              <div class="contact-right d-flex">
                <div class="d-flex">
                  <span class="gsquare" style="color: #444444"></span>
                  <div>
                    <a [href]="'mailto:' + email">{{ email }}</a>
                  
                    <br />

                    <a href="https://youtu.be/dQw4w9WgXcQ?si=Rk6wpWa0s4-6nTDr"
                      >www.yourwebsite.com</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>